.bg-video {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0.20;
	// чтобы скрыть разницу в ширине блоков
	overflow: hidden;

	&__content {
		height: 100%;
		width: 100%;
		// Смещаемый контент меняет свой размер таким образом, 
		// чтобы сохранять свои пропорции при заполнении блока: 
		// окончательный размер контента будет определён как "покрытие" блока, 
		// ограничиваясь его шириной и высотой.
		object-fit: cover;
	}
}