.story {
	width: 75%;
	margin: 0 auto;
	box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
	background-color: rgba($color-white, 0.6);
	border-radius: 3px;
	padding: 6rem;
	padding-left: 9rem;
	font-size: $default-font-size;
	transform: skewX(-12deg);

	&__shape {
		// сделать контейнер с таким размером и разместить его слева в контейнере стори
		width: 15rem;
		height: 15rem;
		float: left;
		// радиус 50% которого зависят от ширины и высоты в ремах выше описанных. 
		// Сам же метод делает так, чтобы контейнер текст облягял слева словно там лежит круг по радиусу которого валяется этот текст
		-webkit-shape-outside: circle(50% at 50% 50%);
		shape-outside: circle(50% at 50% 50%); 

		// отрисовка самого круга от всё той же ширины и высоты контейнера
		-webkit-clip-path: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
		// раздвигание текста по осе икс от края блока
		transform: translateX(-3rem) skewX(12deg);
		position: relative;
		overflow: hidden;
		border-radius: 50%;
	}

	&__image {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        backface-visibility: hidden;
        transition: all .5s;
	}

	&__text {
		transform: skewX(12deg);
	}

	&__caption {
		// чтобы иметь возможность накладывать один элемент на другой. выравнивают по левому верхнему краю
		position: absolute;
		// середина по центру
		top: 50%;
		// середина по левому краю.
		left: 50%;
		// выравнивание по центру и от низа 20%
		transform: translate(-50%, 20%);
		// цвет текста
		color: $color-white;
		text-transform: uppercase;
		// размер текста
		font-size: 1.7rem;
		// размещения текста
		text-align: center;
		// делает видимость текста 0
		opacity: 0;
		// работа анимации 0.5с
		transition: all 0.5s;
		backface-visibility: hidden;
	}

	&:hover &__caption {
		// видимость текста 100%
		opacity: 1;
		// поднимает вверх на центр
		transform: translate(-50%, -50%);
	}

	&:hover &__image {
		transform: translateX(-4rem);
		// задымляет задник
		 filter: blur(3px) brightness(80%);
	}
}